<% @guess.nil? %>
<%= form_for @game do |f| %>
 <p> 
 	<% if @game.guess_count == 0 %>
 		<%= f.label :guess, "Guess" %>
 	<% else %>
  		<%= f.label :guess, "Try Again!" %><br>
 	 <% end %>
  <%= text_field_tag :guess %>
 </p>
 <p>
  <%= f.submit %>
 </p>
<% end %>
